<!--section -->
<section class="parallax-section" data-scrollax-parent="true">
    <div class="bg par-elem "  data-bg="<%= image_path('blog.png') %>" data-scrollax="properties: { translateY: '30%' }"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="section-title center-align">
            <h2><span><%= @blog.title %></span></h2>
            <div class="breadcrumbs fl-wrap">
              <%= link_to "Inicio", root_path%>
              <%= link_to "Blog", blogs_path%>
              <span><%= @blog.title %></span>
            </div>
            <span class="section-separator"></span>
        </div>
    </div>
</section>
<section class="gray-section" id="sec1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="list-single-main-wrapper fl-wrap" id="sec2">
                    <!-- article> -->
                    <article>
                        <div class="list-single-main-media fl-wrap">
                            <div class="single-slider-wrapper fl-wrap">
                                <div class="single-slider fl-wrap">
                                    <div class="slick-slide-item">
                                      <%= image_tag(@blog.image.url, alt: @blog.title) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-single-main-item fl-wrap">
                            <div class="list-single-main-item-title fl-wrap">
                                <h3><%= link_to @blog.title, @blog %></h3>
                            </div>
                            <%= @blog.content.html_safe %>
                            <div class="post-opt">
                                <ul>
                                    <li><i class="fa fa-calendar-check-o"></i> <span style="color: inherit;"><%= @blog.created_at.strftime('%B %d, %Y') %></span></li>
                                </ul>
                            </div>
                            <span class="fw-separator"></span>
                            <div class="list-single-main-item-title fl-wrap">
                                <h3>Tags</h3>
                            </div>
                            <div class="list-single-tags tags-stylwrap blog-tags">
                              <% @blog.tags.split(",").each do |tag| %>
                                <a style="color: inherit;"><%= tag.capitalize %></a>
                              <% end %>
                            </div>
                            <span class="fw-separator"></span>
                            <div class="post-nav fl-wrap">
                              <% if @prev.present? %>
                                <%= link_to @prev, class: "post-link prev-post-link" do %>
                                  <i class="fa fa-angle-left"></i>Anterior <span class="clearfix"><%= @prev.title %></span>
                                <% end %>
                              <% end %>
                              <% if @next.present? %>
                                <%= link_to @next, class: "post-link next-post-link" do %>
                                  <i class="fa fa-angle-right"></i>Siguiente <span class="clearfix"><%= @next.title %></span>
                                <% end %>
                              <% end %>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!--box-widget-wrap -->
            <div class="col-md-4">
                <div class="box-widget-wrap">
                    <!--box-widget-item -->
                    <div class="box-widget-item fl-wrap">
                        <div class="box-widget-item-header">
                            <h3>Buscar en el blog:</h3>
                        </div>
                        <div class="box-widget search-widget">
                          <%= search_form_for @q, :html => {:class => "fl-wrap"} do |f| %>
                            <%= f.search_field :title_cont, placeholder: "Buscar...", class: "search" %>
                            <button class="search-submit" type="submit"><i class="fa fa-search transition"></i> </button>
                          <% end %>
                        </div>
                    </div>
                    <!--box-widget-item end -->
                    <!--box-widget-item -->
                    <div class="box-widget-item fl-wrap">
                        <div class="box-widget-item-header">
                            <h3>Posts populares:</h3>
                        </div>
                        <div class="box-widget widget-posts blog-widgets">
                            <div class="box-widget-content">
                                <ul>
                                  <% @popular_blogs.each do |blog| %>
                                    <li class="clearfix">
                                      <%= link_to blog, class: "widget-posts-img" do %>
                                        <%= image_tag(blog.image.url, alt: blog.title) %>
                                      <% end %>
                                      <%= link_to blog.title, blog %>
                                      <p><%= blog.content.truncate(30).html_safe %></p>
                                      <span class="widget-posts-date"><i class="fa fa-calendar-check-o"></i><%= blog.created_at.strftime('%B %d, %Y')%></span>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--box-widget-wrap end -->
        </div>
    </div>
</section>