<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
         <div class="logo-holder">
            <%= link_to root_path do %>
               <div class="section-title">
                <h2>BrandsHolding</h2>
            </div>
            <% end %>
        </div> 
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <% if user_signed_in? %>
                        <li>
                            <a><%= current_user.nombres %> <%= current_user.apellidos %><i class="fa fa-caret-down"></i></a>
                            <ul>
                                
                                <li><%= link_to "Crear bien", root_path  %></li>
                               <li><%= link_to "Bienes", root_path  %></li>
                                <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </li>
                    <% else %>
                        <li><%= link_to "Crear bien", new_good_path  %></li>
                        <li><%= link_to "Bienes", root_path  %></li>
                    <% end %>
                </ul>
            </nav>
        </div>

        <div class="nav-button-wrap color-bg">
            <div class="nav-button">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
</header>