<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        
    </head>


<section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
    <div class="slideshow-container" data-scrollax="properties: { translateY: '200px' }" >
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('1.png') %>"></div>
        </div>
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('4.png') %>"></div>
        </div>   
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('3.png') %>"></div>
        </div> 
        <div class="slideshow-item">
            <div class="bg"  data-bg="<%= image_path('2.png') %>"></div>
        </div>                  
    </div>
    
    
    <div class="hero-section-wrap fl-wrap">
        <div class="container">
            <div class="intro-item fl-wrap">
                <h2 style="font-weight: 700;">Eulearn</h2>
                <h3 style="font-weight: 700;">Desarrollo del pensamiento y talento academico</h3>
            </div>
        </div>
    </div>
    <div class="bubble-bg"> </div>
</section>

     <span class="fw-separator"></span>
     <section class="parallax-section" data-scrollax-parent="true">
                        <div class="bg"  data-bg= "<%= image_path('asignaturas.png') %>" data-scrollax="properties: { translateY: '100px' }"></div>
                        
                     
                    </section>

  <section id="sec2">
                        <div class="container">
                               <div class="section-title">
                                <h2>Nuestros Servicios</h2>
                                <span class="section-separator"></span>
                                <p>Los cursos están diseñados con dos (2) propósitos nivelar al estudiante y hacerlo avanzar más rápido para que obtenga excelentes resultados y mejore su calidad de vida académica. La metodología esta diseñada para que por medio de la construcción de hábitos el niño desarrolle talento académico y progrese en su conocimiento.
                                    </p>
                            </div>
                            <!-- portfolio start -->
                            <div class="gallery-items fl-wrap mr-bot spad">
                        
                                <div class="gallery-item">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                             <%= image_tag("7.png") %>
                                            <div class="listing-counter"> <%= link_to "Intensivo", "/programa_intensivo" %>  </div>
                                            <div class="listing-item-cat">
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                             <%= image_tag("5.png") %>
                                            <div class="listing-counter"> <%= link_to "Acompañaimiento Tareas", "/acompanamiento_tareas" %>  </div>
                                            <div class="listing-item-cat">          
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item">
                                    <div class="grid-item-holder">
                                        <div class="listing-item-grid">
                                          <%= image_tag("6.png") %>
                                            <div class="listing-counter"> <%= link_to "Multidisciplinar", "/programa_multidisciplinar" %>  </div>
                                            <div class="listing-item-cat">            
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                            </div>
                           <a>
                                <%= link_to "Ver programas", "/programa_intensivo", class: "btn  big-btn circle-btn dec-btn  color-bg flat-btn" %>
                            </a>
                        </div>
                    </section>

                          <span class="fw-separator"></span>
                            <!-- features-box-container --> 
                            <div class="features-box-container fl-wrap row">
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-university"></i>
                                    </div>

                                    <h3>Enseñanza Personalizada</h3>
                                    <p style="text-align: justify;">El método Eulearn fue diseñado  para resolver los problemas de aprendizaje y conocimientos del estudiante. Este se fundamenta en un análisis inicial que identifica las debilidades del estudiante y implementa un plan de trabajo con seguimiento del tutor para generar resultados positivos.</p>
                                     <h3>Construcción de conocimiento</h3>
                                    <p style="text-align: justify;">En Eulearn consideramos fundamental el desarrollo del pensamiento y el  talento académico. Para nosotros es  importante que el estudiante por un lado desarrolle hábitos de estudio y paralelamente aprenda a resolver creativa, efectiva y eficientemente los problemas.</p>
                                    <h3>Material Didáctico</h3>
                                    <p style="text-align: justify;">Exclusivo y adecuado a las necesidades del estudiante, el material didáctico de Eulearn posee contenido personalizado para estimular la capacidad de análisis y resolución de problemas. Para Eulearn el material didáctico no solo estimula sino también ayuda a generar las competencias que el estudiante necesita.</p>

                                </div>
                                <!-- features-box end  --> 
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-signal"></i>

                                    </div>
                                    <h3>Sin tareas extra</h3>
                                    <p style="text-align: justify;">Eulearn no pone tareas extra, nuestra misión es ayudar para que el estudiante pueda resolver sus responsabilidades de una manera más rápida y que si necesita reforzar un ásignatura específica tenga con Eulearn el aliado perfecto para hacerlo.</p>
                                     <h3>Construyendo camino</h3>
                                    <p style="text-align: justify;">Eulearn está comprometido con el desarrollo de pensamiento y talento del estudiante, para que pueda tener las capacidades de tomar decisiones en el momento de enfrentar problemas y retos de la vida. Al final aprendemos para solucionar problemas y entre más habilidades tenemos más fácil y rápido podremos hacerlo.</p>
                                    <h3>Tutores</h3>
                                    <p style="text-align: justify;">Los tutores son fundamentales en el proceso de aprendizaje, este no solo tiene la misión de mostrarle el camino correcto sino además de enseñarle porque lo es. La personalidad, las emociones, la familia, las fortalezas y debilidades académicas del estudiante son interpretadas por  tutores para identificar las necesidades del estudiante y diseñar el plan de trabajo.</p>
                                </div>
                                <!-- features-box end  --> 
                                <!--features-box --> 
                                <div class="features-box col-md-4">
                                    <div class="time-line-icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                     <h3>Más lejos</h3>
                                    <p style="text-align: justify;">Los estudiantes de Eulearn no solo demuestran estar un paso delante de sus compañeros sino además entienden que la competencia más fuerte es con ellos mismos, no se trata de quien llega más rápido sino de quien llega más lejos.</p>
                                     <h3>Pasión por aprender</h3>
                                    <p style="text-align: justify;">Estimulamos a nuestros alumnos para que siempre busquen nuevas formas de aprender y de profundizar en los asuntos, incluso fuera de los temas que abordamos.</p>
                                    <h3>Un paso adelante</h3>
                                    <p style="text-align: justify;">El método Eulearn aumenta las habilidades de los niños para que siempre estén avanzados en relación al contenido escolar.</p>
                                </div>
                                <!-- features-box end  -->                                                   
                            </div>
