  <section class="parallax-section" data-scrollax-parent="true" id="sec1">
                        <div class="bg par-elem "  data-bg="<%= image_path('6.png') %>" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align">
                                <h2><span>Qué es el método Eulearn</span></h2>
                                <div class="breadcrumbs fl-wrap"></div>
                                <span class="section-separator"></span>
                            </div>
                        </div>
                    </section>

                    <section  id="sec2">
                        <div class="container">
                            <div class="section-title">
                                <h2>Cómo funciona nuestro método</h2>
                                <span class="section-separator"></span>
                                <p></p>
                            </div>
                            <!--about-wrap --> 
                            <div class="about-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="video-box fl-wrap">
                                            <%= image_tag("7.png") %>
                                            <a class="video-box-btn image-popup" href="https://vimeo.com/110234211"><i class="fa fa-play" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Descubre nuestra metodología</h3>
                                            <h4>Observa el video y la siguiente lectura para que tengas mayor información</h4>
                                            <span class="section-separator fl-sec-sep"></span>
                                        </div>
                                        <p style="text-align: justify;">La metodología esta diseñada para que por medio de la construcción de hábitos el niño desarrolle su talento académico y progrese en el conocimiento. Se realiza un examen diagnostico donde se identifican las áreas de mejora y un plan de trabajo que se ajusta a las necesidades del estudiante. La Metodologia permite trabajar hasta con tres tutores comprometidos con el aprendizaje del estudiante, ayudándolo a desarrollar las competencias necesarias en las asignaturas que necesita.</p>
                                        <p style="text-align: justify;">
                                        En Eulearn consideramos fundamental el desarrollo del pensamiento y talento académico. Para nosotros es tan importante que el estudiante desarrolle hábitos de estudio como que aprenda a resolver creativa, efectiva y eficientemente los problemas.Exclusivo y adecuado a las necesidades del estudiante, el material didáctico de Eulearn posee contenido personalizado para estimular la capacidad de análisis y resolución de problemas. Para Eulearn el material didáctico no solo estimula sino también ayuda a generar las competencias que el estudiante necesita.
                                        </p>
                                        <p style="text-align: justify;">
                                            Eulearn esta comprometido con el desarrollo de pensamiento y talento del estudiante, para que pueda tener las capacidades de tomar decisiones en el momento de enfrentar problemas y retos de la vida. Al final aprendemos para solucionar problemas y entre más habilidades tenemos más fácil y rápido podremos hacerlo
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- about-wrap end  --> 
                        </div>
                    </section>

                        <section id="sec5">
                        <div class="container">
                            <div class="section-title">
                                <h2>Testimonios</h2>
                                <span class="section-separator"></span>
                                <p>Los mejores casos de nuestros estudiantes que han mejorado
                                sus hábitos de aprendizaje.</p>
                            </div>
                        </div>
                       
                        <div class="carousel fl-wrap">
                            
                            <div class="testimonials-carousel single-carousel fl-wrap">
                          
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Conoce  a Mathias, con 8 años, cursa matemáticas en Eulearn, su postura de estudio, disciplina y concentración han sido sus mayores logros, además descubrió que con Eulearn las matemáticas en su vida ya no serán  un coco. </p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("12.png") %></div>
                                        <h4>Mathias Burgos</h4>
                                    </div>
                                </div>

                                 <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Élla es Maria Cardenas, tiene 9 años era muy tímida en clase y por momentos no lograba entrar en la tónica de sus demás compañeros, gracias a Eulearn ha fortalecido sus capacidades y su autoestima.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("12.png") %></div>
                                        <h4>Maria Cardenas</h4>
                                    </div>
                                </div>
                               
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>
                                        <p>Él es Thiago, tiene 6 años y es alumno de Eulearn Español. Disciplina, seguridad, mejor rendimiento académico y gusto por la lectura son algunas de las habilidades que Thiago ha podido desarrollar con Eulearn.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("12.png") %></div>
                                        <h4>Thiago Gómez</h4>
                                    </div>
                                </div>
                                
                                <div class="slick-slide-item">
                                    <div class="testimonilas-text">
                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"> </div>
                                        <p>Entérate cómo Rosemberg Fabian descubrió el poder de aprenden un segundo idioma con Eulearn. Las canciones, las imágenes  despertado en ella el gusto por aprender un segundo idioma y vivir un mundo sin fronteras.</p>
                                    </div>
                                    <div class="testimonilas-avatar-item">
                                        <div class="testimonilas-avatar"> <%= image_tag("4.png") %></div>
                                        <h4>Fabián Suarez</h4>
                                    </div>
                                </div>
                                <!--slick-slide-item end-->   
                            </div>
                            <!--testimonials-carousel end-->
                            <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                            <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                        <!-- carousel end-->
                    </section>