<!DOCTYPE html>
<html>
  <head>
    <title>Prueba Branhdsholding</title>

    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', async: Rails.env.production?, cache: Rails.env.production? %>
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
  </head>

  <body>
    <div class="loader-wrap">
        <div class="pin"><div class="visual-container">
<div class="loader_text"><p></p></div>
</div></div>
        
    </div>
    <div id="main"> 
        <%= render 'shared/navbar' unless @disable_nav %>
        <%= render 'shared/message' %>
        <div id="wrapper">
          <div class="content">
            <%= yield %>
          </div>
        </div>

        <a class="to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
        
    </div>
  </body>
</html>